<head>
  <title>Lensmoor Editor Preview</title>
  <style>
    body {
      font-family: "Courier New", monospace;
      background-color: #191919;
    }
    .input {
      width: 100%;
      color: white;
      background-color: black;
      padding: 5px;
    }
    .output {
      width: 100%;
      background-color: black;
      padding: 5px;
    }

    .helper {
      color: darkkhaki;
    }

    .hidden {
      display: none;
    }

    .container {
      min-width: 50%;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
  <div class="container">
    <textarea class="input">
Welcome!{/
This is the default text, so don't be scared to delete it.{/
{/
{WWhat is and isn't supported?{P{/
Currently supported are {Ra{Yl{Gl {Cc{Bo{Ml{Wo{Dr{Ps for text in both {Wlight {Pand {Ddark {Pversions and line breaks.{/
More stuff is on it's way, don't worry.{/
{/    
Using the {cbuttons{P below, you can show the codes in the output.{/
{/
I hope this helps your writing.{/
Have fun{/
  -Jonas from {C3001.Host{P aka {BLoris
    </textarea>
    <div class="output">
      <p>Loading...</p>
      <noscript>Please enable JavaScript for this to work.</noscript>
    </div>
  </div>
  <button onclick="truePreview = true;">Preview like in the game</button>
  <button onclick="truePreview = false;">Preview with the codes</button>
  <p><a href="https://3001.host>">3001.Host</a>  <a href="https://gitlab.com/joloz/lensi-preview">The code on Gitlab</a></p>
  <script>
    var truePreview = true;
    var prefix = "</span><span style='color: lightgrey;'>";
    var content;
    function updatePreview() {
      content = "<span>" + prefix + $(".input").val() + "</span>";

      content = content.replaceAll("{/", "<span class='helper'>{/</span><br>");

      //Channel colors
      content = content.replaceAll(
        "{P",
        "</span><span class='helper'>{P</span><span style='color: lightgrey;'>"
      );
      content = content.replaceAll(
        "{S",
        "</span><span class='helper'>{S</span><span style='color: lightgrey;'>"
      );
      //Red
      content = content.replaceAll(
        "{R",
        "</span><span class='helper'>{R</span><span style='color: red;'>"
      );
      content = content.replaceAll(
        "{r",
        "</span><span class='helper'>{r</span><span style='color: darkred;'>"
      );
      //Cyan
      content = content.replaceAll(
        "{C",
        "</span><span class='helper'>{C</span><span style='color: cyan;'>"
      );
      content = content.replaceAll(
        "{c",
        "</span><span class='helper'>{c</span><span style='color: darkcyan;'>"
      );
      //Green
      content = content.replaceAll(
        "{G",
        "</span><span class='helper'>{G</span><span style='color: green;'>"
      );
      content = content.replaceAll(
        "{g",
        "</span><span class='helper'>{g</span><span style='color: darkgreen;'>"
      );
      // Yellow
      content = content.replaceAll(
        "{Y",
        "</span><span class='helper'>{Y</span><span style='color: yellow;'>"
      );
      content = content.replaceAll(
        "{y",
        "</span><span class='helper'>{y</span><span style='color: #666600;'>"
      );
      // Blue
      content = content.replaceAll(
        "{B",
        "</span><span class='helper'>{B</span><span style='color: blue;'>"
      );
      content = content.replaceAll(
        "{b",
        "</span><span class='helper'>{b</span><span style='color: darkblue;'>"
      );
      // Magenta
      content = content.replaceAll(
        "{M",
        "</span><span class='helper'>{M</span><span style='color: magenta;'>"
      );
      content = content.replaceAll(
        "{m",
        "</span><span class='helper'>{m</span><span style='color: darkmagenta;'>"
      );
      // White
      content = content.replaceAll(
        "{W",
        "</span><span class='helper'>{W</span><span style='color: white;'>"
      );
      content = content.replaceAll(
        "{w",
        "</span><span class='helper'>{w</span><span style='color: lightgrey;'>"
      );
      // Black
      content = content.replaceAll(
        "{k",
        "</span><span class='helper'>{k</span><span style='color: black;'>"
      );
      content = content.replaceAll(
        "{D",
        "</span><span class='helper'>{D</span><span style='color: darkgrey;'>"
      );

      $(".output").html(content);
      if (truePreview) {
        $(".helper").addClass("hidden");
      }
    }

    setInterval(updatePreview, 200);
  </script>
</body>
